//BEGIN header
<header class="header section">
  <div class="container">
    <div class="header-wrap">
      <div class="header-wrap__logo">
        <img src="./icons/logo.svg" alt="">
      </div>
      <div class="header-wrap__nav">
        <ul class="header-wrap__list">
          <li class="header-wrap__item">
            <a href="/">
              +icon('bag')
            </a>
          </li>
        </ul>
        <div class="header-wrap__menu">
          <span></span>
        </div>
      </div>
    </div>
  </div>
</header>
//END header

//BEGIN nav
<nav class="nav section">
  <div class="container">
    <div class="nav-wrap">
      <ul class="nav-wrap__list">
        <li class="nav-wrap__item">
          <a href="/">Каталог</a>
        </li>
        <li class="nav-wrap__item">
          <a href="/">О компании</a>
        </li>
        <li class="nav-wrap__item">
          <a href="/">Магазины</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
//END nav