mixin info()
    <section class="section">
        <div class="container">
            <div class="info">
                <p id="breadcrumbs">
                    <span>
                        <span>
                            <a href="/">Главная</a>
                        </span>
                        <span>/</span>
                        <span class="breadcrumb_last" aria-current="page">Оформление заказа</span>
                    </span>
                </p>

                <div class="info-descr">
                    <h2>Оформление заказа</h2>
                    <div class="info-descr__login">
                        <span>Есть аккаунт?</span>
                        <button type="button">Войти</button>
                    </div>
                </div>
            </div>
        </div>
    </section>