mixin product()
    <section class="section">
        <div class="container">
            <div class="product">
                <!-- <div class="product-wrap">
                    <h2>3 товара на сумму 25 000 ₽ </h2>
                    <ul class="product-wrap__list">
                        <li class="product-wrap__list-item">
                            <div class="product-wrap__list-img">
                                <div>
                                    <img src="./img/card-img1.jpg" alt="">
                                </div>
                                <p>Утепленная стеганная куртка женская Top Hills</p>
                            </div>
                            <div class="product-wrap__list-details">
                                <div class="product-wrap__list-info">
                                    <div>Артикул<span>512-05</span></div>
                                    <div>Сезон<span>Осень-зима</span></div>
                                </div>
                            </div>
                            <ul class="product-wrap__list-sizes">
                                <li>XS</li>
                                <li>S</li>
                                <li>M</li>
                                <li>L</li>
                                <li>Xl</li>
                            </ul>
                            <ul class="product-wrap__list-colors">
                                <li>
                                    <input type="checkbox">
                                </li>
                                <li>
                                    <input type="checkbox">
                                </li>
                                <li>
                                    <input type="checkbox">
                                </li>
                            </ul>
                            <div class="product-wrap__list-amounts">
                                <ul class="product-wrap__list-amounts__current">
                                    <li class="old-price"></li>
                                    <li class="current-price"></li>
                                </ul>
                                <div class="product-wrap__list-amounts__counter">
                                    <span>-</span>
                                    <span></span>
                                    <span>+</span>
                                </div>
                                <ul class="product-wrap__list-amounts__total">
                                    <li class="old-price"></li>
                                    <li class="current-price"></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
    </section>