mixin product()
    <section class="section">
        <div class="container">
            <div class="product">
                <div class="product-wrap">
                    <h2>3 товара на сумму <span class="ruble-symbol">&thinsp;₽</span></h2>
                    <ul class="product-wrap__list">
                        <!-- cards.json -->
                    </ul>
                </div>
            </div>
        </div>
    </section>